/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keyball39.dtsi"
#include <dt-bindings/zmk/rgb.h>

&kscan0 {
	col-gpios
		= <&pro_micro 4 GPIO_ACTIVE_HIGH>
		, <&pro_micro 5 GPIO_ACTIVE_HIGH>
		, <&pro_micro 6 GPIO_ACTIVE_HIGH>
		, <&pro_micro 7 GPIO_ACTIVE_HIGH>
		, <&pro_micro 8 GPIO_ACTIVE_HIGH>
		, <&pro_micro 9 GPIO_ACTIVE_HIGH>
		;
};

&pro_micro { // This is the correct parent node as confirmed by your .dtsi
    // ... existing configurations for your right half, e.g.,
    // kscan, row-gpios, col-gpios, etc. might be here or in included .dtsi

    rgb_strip0: ws2812_strip { // Node name changed to reflect common ZMK practice
        compatible = "worldsemi,ws2812-gpio"; // Preferred compatible for WS2812/SK6812 via GPIO
        label = "KB39_RIGHT_UNDERGLOW_LEDS";

        // Pin assignment:
        // Use <&pro_micro 3> to refer to the D3 pin of the Pro Micro module.
        gpios = <&pro_micro 3 GPIO_ACTIVE_HIGH>; // Use 'gpios' property, not 'gpio-pin'

        num-pixels = <22>; // Total number of SK6812 LEDs
        chain-length = <22>; // Same as num-pixels for a single strip
        color-mapping = <RGB_COLOR_MAPPING_GRB>; // Use the specific macro from <dt-bindings/zmk/rgb.h>
                                                // This is standard for SK6812. If colors are off, try others like RGB_COLOR_MAPPING_RGB.
    };
};
